@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 246px;
    border: 1px solid #d0d0d0;
    background-color: #000000;
    margin-top: 57px;
}

/*header style */

ul {
    display: flex;
}

li {
    list-style: none;
}

.header {
    justify-content: space-between;
    align-items: center;
    height: 117px;
    background-color: #ffffff;
    width: 100%;
}

.logo {
    padding-left: 45px;
}

.menu-link {
    text-decoration: none;
    margin: 11px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps;
}

.menu-link:hover {
    text-decoration: none;
    color: #000000;
}

.icon {
    display: flex;
    padding-right: 45px;
}

.social-icon {
    width: 24px;
    height: 24px;
    border: 1.5px solid black;
    margin-left: 34px;
    text-align: center;
}

.social-icon:hover {
    border: 1.5px solid #bc2437;
}

.icon-black {
    color: black;
}

.icon-black:hover {
    color: #bc2437;
}

/*order style */

.order-main img{
    width: 100%;
}

/*order style */

.custom-row {
    margin: 0;
}

/*Wow Catering style */
.info-text{
    text-align: center;
    width: 992px;
    margin: 60px auto 54px;
}

.custom-title {
    color: #000000;
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 400;
}

.title-info {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
}

/*Wow Catering style */

/*services style */

.img-first{
    background: url(../images/свадьба.png);

}

.img-scn {
    background: url(../images/банкет.png);
}

.img-thrd {
    background: url(../images/ресторан.png);
}

.img-fr {
    background: url(../images/фуршет.png);
}

.img-five {
    background: url(../images/барбекю.png);
}

.img-six {
    background: url(../images/кофебрейки.png);
}

.img-setting {
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    background-size: cover;
}

.white-circle {
    background: #ffffffc2;
    width: 210px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.white-circle:hover{
    color: #bc2336;
    border: 1px solid;
}

/*services style */

/*footer style */

.white-custom-title {
    color: #ffffff;
    font-size: 24px;
}

.contact-info {
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-variant: small-caps;
    margin: 37px auto 32px;
}

.icon-footer {
    display: flex;
}

.social-icon-white {
    width: 24px;
    height: 24px;
    border: 1.5px solid whitesmoke;
    margin: auto 11px;
    text-align: center;
}

.icon-white {
    color: whitesmoke;
}

/*footer style */
