@media screen and (max-width: 960px) {

    .icon {
        padding-right: 25px;
    }

    .menu-link {
        font-size: 14px;
        margin: 3px;
    }

    .info-text {
        width: 99%;
    }

    .title-info {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {

    .icon {
        display: none;
    }

    .order-main img {
        margin-top: 3%;
    }

}